<div class="container">
    <h1 id="titre">À propos d'App Voyages</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam quibusdam similique harum ad esse, odit
        reiciendis
        deserunt explicabo dolore quasi temporibus unde est ducimus aspernatur magni magnam deleniti repellendus saepe!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta corrupti voluptates hic voluptatum nam
        deserunt unde mollitia aliquid similique reiciendis, eveniet aliquam reprehenderit doloribus soluta officia
        excepturi. Assumenda, sapiente!
        Illum ab iure voluptates nihil consectetur. Odio aliquam aut minima id, qui modi eveniet ad unde vitae magni.
        Porro
        saepe debitis amet optio commodi sed ipsa consequatur voluptas enim quisquam.</p>
    <ul>
        <li>Lorem
            <ol>
                <li>Ipsum</li>
            </ol>
        </li>
        <li>Illum</li>
        <li>consectetur</li>
        <li>adipisicing</li>
        <li>voluptas</li>
    </ul>
</div>